<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Firebase Panel</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</head>
<body>
    <div class="jumbotron">
    <center><a href="/firebase/resetplayer" class="btn btn-primary">Reset current and Base Price of Player</a></center>
        <table class="table">
            {% for i in Player %}
            <div>
                <tr>

                </tr>
                <td>Name : {{i.Name}}</td>
                <td>Player ID :  {{i.ID}}</td>
                <td><a href="/firebase/profile/{{i.ID}}" class="btn btn-primary"> Edit Profile </a></td>
                <td><a href="/firebase/IPLSTATS/{{i.ID}}" class="btn btn-primary"> Edit IPLSTATS</a></td> 
                <td><a href="/firebase/ODISTATS/{{i.ID}}" class="btn btn-primary"> Edit ODISTATS </a></td>
                <td><a href="/firebase/T20ISTATS/{{i.ID}}" class="btn btn-primary"> Edit T20ISTATS </a></td>
                <td><a href="/firebase/TESTSTATS/{{i.ID}}" class="btn btn-primary"> Edit TESTSTATS </a></td>
                <td><a href="/firebase/Delete/{{i.ID}}" onclick="{confirm('Are you sure you want to delete this players data ?')}" class="btn delete btn-danger">  Delete </a></td>
                
            </div>
            
            {% endfor %}
        </table>    
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    {% if message %}
    <script>
    
        alert('{{message}}');
    

    </script>
    {% endif %}
    
</body>
</html>