<html lang="en"><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <title>IPLSTATS {{ID}}</title>
</head>
<body data-new-gr-c-s-check-loaded="14.997.0" data-gr-ext-installed="">
    <div class="jumbotron" style="align-items: center">
        <h2>Players Data Entry</h2>
        <h2> Fill the IPLSTATS </h2>
    </div>
    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <p>
            <label for="id_Player_id">Player id:</label> 
            <input type="number" name="Player_id" class="form-control" required="" id="id_Player_id" value="{{ID}}">
        </p>
        <p>
            <label for="id_ipl_matches">Ipl matches:</label> 
            <input type="number" name="ipl_matches" class="form-control" required="" id="id_ipl_matches" value="{{ipl_matches}}">
        </p>
        <p>
            <label for="id_ipl_runs">Ipl runs:</label> 
            <input type="number" name="ipl_runs" class="form-control" required="" id="id_ipl_runs" value="{{ipl_runs}}">
        </p>
        <p>
            <label for="id_ipl_fours">Ipl fours:</label> 
            <input type="number" name="ipl_fours" class="form-control" required="" id="id_ipl_fours" value="{{ipl_fours}}">
        </p>
        <p>
            <label for="id_ipl_sixes">Ipl sixes:</label> 
            <input type="number" name="ipl_sixes" class="form-control" required="" id="id_ipl_sixes" value="{{ipl_sixes}}">
        </p>
        <p>
            <label for="id_ipl_ducks">Ipl ducks:</label> 
            <input type="number" name="ipl_ducks" class="form-control" required="" id="id_ipl_ducks" value="{{ipl_ducks}}">
        </p> 
        <p>
            <label for="id_ipl_balls">Ipl balls:</label> 
            <input type="number" name="ipl_balls" class="form-control" required="" id="id_ipl_balls" value="{{ipl_balls}}">
        </p>
        <p>
            <label for="id_ipl_wicket">Ipl wicket:</label> 
            <input type="number" name="ipl_wicket" class="form-control" required="" id="id_ipl_wicket" value="{{ipl_wicket}}">
        </p>
        <p>
            <label for="id_ipl_economy">Ipl economy:</label> 
            <input type="number" name="ipl_economy" class="form-control" required="" id="id_ipl_economy" value="{{ipl_economy}}">
        </p>
        <p>
            <label for="id_ipl_3w">Ipl 3w:</label> 
            <input type="number" name="ipl_3w" class="form-control" required="" id="id_ipl_3w" value="{{ipl_3w}}">
        </p>

              
            <input class="btn btn-primary" type="submit" value="Submit">
        </form> 
    
</body>
</html>