<html lang="en"><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <title>ODI STATS {{ID}}</title>
</head>
<body data-new-gr-c-s-check-loaded="14.997.0" data-gr-ext-installed="">
    <div class="jumbotron" style="align-items: center">
        <h2>Players Data Entry</h2>
        <h2> Fill the odiSTATS </h2>
    </div>
    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <p><label for="id_Player_id">Player id:</label> <input type="number" name="Player_id" class="form-control" required="" id="id_Player_id" value="{{ID}}"></p>
<p><label for="id_odi_matches">Odi matches:</label> <input type="number" name="odi_matches" class="form-control" required="" id="id_odi_matches" value="{{odi_matches}}"></p>
<p><label for="id_odi_runs">Odi runs:</label> <input type="number" name="odi_runs" class="form-control" required="" id="id_odi_runs" value="{{odi_runs}}"></p>
<p><label for="id_odi_fours">Odi fours:</label> <input type="number" name="odi_fours" class="form-control" required="" id="id_odi_fours" value ="{{odi_fours}}"></p>
<p><label for="id_odi_sixes">Odi sixes:</label> <input type="number" name="odi_sixes" class="form-control" required="" id="id_odi_sixes" value ="{{odi_sixes}}"></p>
<p><label for="id_odi_ducks">Odi ducks:</label> <input type="number" name="odi_ducks" class="form-control" required="" id="id_odi_ducks" value ="{{odi_ducks}}"></p>
<p><label for="id_odi_balls">Odi balls:</label> <input type="number" name="odi_balls" class="form-control" required="" id="id_odi_balls" value ="{{odi_balls}}"></p>
<p><label for="id_odi_wicket">Odi wicket:</label> <input type="number" name="odi_wicket" class="form-control" required="" id="id_odi_wicket" value ="{{odi_wicket}}"></p>
<p><label for="id_odi_economy">Odi economy:</label> <input type="number" name="odi_economy" class="form-control" required="" id="id_odi_economy" value ="{{odi_economy}}"></p>
<p><label for="id_odi_5w">Odi 5w:</label> <input type="number" name="odi_5w" class="form-control" required="" id="id_odi_5w" value ="{{odi_5w}}"></p>
        
    
         <!-- id_Player_img_1 -->

            <input class="btn btn-primary" type="submit" value="Submit">
        </form>


</body></html>