<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <title>Profile {{ID}}</title>
</head>
<body>
    <div class="jumbotron" style="align-items: center">
        <h2>Players Data Update</h2>
        <h2> Kindly submit the form to update the data </h2>
        {% if User %}
            <h2 id="name"> Last Bidder Name : {{User}} </h2>
            <a  class="btn btn-primary" href="/firebase/pay/{{ID}}"> Pay </a> 
        {% endif %}
        <a href="/firebase/resetpp/{{ID}}" class="btn btn-primary"> Reset </a>
    </div>
    <form enctype="multipart/form-data" method="POST" action = "/firebase/profile/{{ID}}">
    {% csrf_token %}
        <p>
            <label for="id_Player_id">Player id:
            </label> 
            <input type="number" name="Player_id" class="form-control" required id="id_Player_id" value="{{ID}}">
        </p>
        <p>
            <label for="id_Name">Name:</label> 
            <input type="text" name="Name" maxlength="500" class="form-control" required id="id_Name" value="{{Name}}">
        </p>
        <p>
            <label for="id_Type">Type:</label> 
            <input type="text" name="Type" maxlength="654" class="form-control" required id="id_Type" value="{{Type}}">
        </p>
        <p>
            <label for="id_Country">Country:</label> 
            <input type="text" name="Country" maxlength="50" class="form-control" required id="id_Country" value="{{Country}}">
        </p>
        <p>
            <label for="id_Debut_year">Debut year:</label> 
            <input type="number" name="Debut_year" class="form-control" required id="id_Debut_year" value="{{Debut_year}}">
        </p>
        <p>
            <label for="id_ODI_rankings">ODI rankings:</label> 
            <input type="number" name="ODI_rankings" class="form-control" required id="id_ODI_rankings" value="{{ODI_rankings}}">
        </p>
        <p>
            <label for="id_T20_rankings">T20 rankings:</label> 
            <input type="number" name="T20_rankings" class="form-control" required id="id_T20_rankings" value="{{T20_rankings}}">
        </p>
        <p>
            <label for="id_Test_rankings">Test rankings:</label> 
            <input type="number" name="Test_rankings" class="form-control" required id="id_Test_rankings" value="{{Test_rankings}}">
        </p>
        <p>
            <label for="id_Profile">Profile:</label> 
            <textarea name="Profile" cols="40" rows="10" class="form-control" required id="id_Profile" >
                {{Profile}}
            </textarea>
        </p>
        <p>
            <label for="id_Batting_style">Batting style:</label> 
            <input type="text" name="Batting_style" maxlength="66" class="form-control" required id="id_Batting_style" value="{{Batting_style}}">
        </p>
        <p>
            <label for="id_BasePrice">BasePrice:</label> 
            <input type="number" name="BasePrice" class="form-control" required id="id_BasePrice" value="{{BasePrice}}">
        </p>
        <p>
            <label for="id_CurrentPrice">CurrentPrice:</label> 
            <input type="text" name="CurrentPrice" class="form-control" required id="current" value="{{CurrentPrice}}">
        </p>
        <p> Active : {{active}} </p>
        {{ActiveF.as_p}}
        
            IMAGE Uplaod:
            <input type="file" name="files[]" id="files">
            <input type="hidden" name="url" id="url" value="{{Player_img}}">
            <button type="button" onclick="uploadimage()">Upload</button> <br><br>
                
                
                
        <input class="btn btn-primary" type="submit" value="Submit">
        </form> 
    
</body>
<script src="https://code.jquery.com/jquery-3.6.0.js" ></script>
<script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>
<script>
    var config = {
    apiKey: "AIzaSyC3fSkXwK0a7fIwwi7sGZMclnvQLhOXaks",
    authDomain: "ed-cell-esummit21.firebaseapp.com",
    databaseURL: "https://ed-cell-esummit21-default-rtdb.firebaseio.com",
    projectId: "ed-cell-esummit21",
    storageBucket: "ed-cell-esummit21.appspot.com",
    messagingSenderId: "590955177764",
    appId: "1:590955177764:web:65f7829798d7edd78ab5b1",
    measurementId: "G-72MHWHBNJV"
  };
  firebase.initializeApp(config);

  // Get a reference to the storage service, which is used to create references in your storage bucket

  function uploadimage(){
  var storage = firebase.storage();

  var file = document.getElementById("files").files[0];

  var storageRef = storage.ref();

  var thisref = storageRef.child(file.name).put(file);

  thisref.on('state_changed',function(snapshot){

  console.log("file uplaoded succesfully");

  },
  function(error) {

  },

  function() {
  // Upload completed successfully, now we can get the download URL
  var downloadURL = thisref.snapshot.downloadURL;
  console.log("got url");
  document.getElementById("url").value = downloadURL;
  alert("file uploaded successfully");
});






    };


</script>

<script src="https://code.jquery.com/jquery-3.6.0.js" ></script>
    
<script>

function autorefresh() {
        // auto refresh page after 1 second
        setInterval('refreshPage()', 1000);
}

function refreshPage() {
        $.ajax({
        url: '/user/load/{{ID}}',
        success: function(data) {
          $("#current").val(data.price);
            console.log(data.price);
        if (data.Name){
          $("#name").text("Last Bidder Name : " + data.Name + "")
          console.log(data.Name);

        }
        
        }
    });
}
</script>
.
.
.
<script>autorefresh()</script>

</html>