<html lang="en"><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <title>T20I STATS {{ID}}</title>
</head>
<body data-new-gr-c-s-check-loaded="14.997.0" data-gr-ext-installed="">
    <div class="jumbotron" style="align-items: center">
        <h2>Players Data Entry</h2>
        <h2> Fill the t20iSTATS </h2>
    </div>
    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <p><label for="id_Player_id">Player id:</label> <input type="number" name="Player_id" class="form-control" required="" id="id_Player_id" value="{{ID}}"></p>
        <p><label for="id_t20i_matches">T20i matches:</label> <input type="number" name="t20i_matches" class="form-control" required="" id="id_t20i_matches" value="{{t20i_matches}}"></p>
        <p><label for="id_t20i_runs">T20i runs:</label> <input type="number" name="t20i_runs" class="form-control" required="" id="id_t20i_runs" value ="{{t20i_runs}}"></p>
        <p><label for="id_t20i_fours">T20i fours:</label> <input type="number" name="t20i_fours" class="form-control" required="" id="id_t20i_fours" value ="{{t20i_fours}}"></p>
        <p><label for="id_t20i_sixes">T20i sixes:</label> <input type="number" name="t20i_sixes" class="form-control" required="" id="id_t20i_sixes" value ="{{t20i_sixes}}"></p>
        <p><label for="id_t20i_ducks">T20i ducks:</label> <input type="number" name="t20i_ducks" class="form-control" required="" id="id_t20i_ducks" value ="{{t20i_ducks}}"></p>
        <p><label for="id_t20i_balls">T20i balls:</label> <input type="number" name="t20i_balls" class="form-control" required="" id="id_t20i_balls" value ="{{t20i_balls}}"></p>
        <p><label for="id_t20i_wicket">T20i wicket:</label> <input type="number" name="t20i_wicket" class="form-control" required="" id="id_t20i_wicket" value ="{{t20i_wicket}}"></p>
        <p><label for="id_t20i_economy">T20i economy:</label> <input type="number" name="t20i_economy" class="form-control" required="" id="id_t20i_economy" value ="{{t20i_economy}}"></p>
        <p><label for="id_t20i_3w">T20i 3w:</label> <input type="number" name="t20i_3w" class="form-control" required="" id="id_t20i_3w"></p>
         <!-- id_Player_img_1 -->

            <input class="btn btn-primary" type="submit" value="Submit">
        </form>

</body>
</html>